.PlaylistSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.PlaylistSearchButton {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
}

.PlaylistSearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
}